.cont{
    width: 300px;
    height: 400px;
    /* background-color: blue; */

}
.cont:hover{
    background-image: url("pi-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
}